Repository lgraziani2712/validate-me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{jsx?,vue}": ["eslint --fix", "git add"],
  "*.{jsx?,vue,md,json}": ["prettier --write", "git add"]
}

feat(vue): Integrate input range type
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/NumberRange.vue
Due: eslint --fix, prettier --write

feat(vue): Add datetime-local type
  packages/core/dictionaries/en/pattern.js
  packages/core/rules.js
  packages/core/rules/max.js
  packages/core/rules/min.js
  packages/core/rules/pattern.js
  packages/react/useField.js
  packages/vue/directive.js
  playgrounds/vanilla/src/index.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/Datetime.vue
  playgrounds/vue/src/InputEmail.vue
  playgrounds/vue/src/InputString.vue
  playgrounds/vue/src/dictionaries/es/pattern.js
Due: eslint --fix, prettier --write

feat(vue): Add time type
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/Time.vue
Due: eslint --fix, prettier --write

feat(vue): Add date type
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/Date.vue
Due: eslint --fix, prettier --write

feat(vue): Add week type
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/Week.vue
Due: eslint --fix, prettier --write

feat(vue): Add month type
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/Month.vue
Due: eslint --fix, prettier --write

feat(vue): Add color type
  packages/core/dictionaries/en/color.js
  packages/core/rules/color.js
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/Color.vue
  playgrounds/vue/src/dictionaries/es/color.js
Due: eslint --fix, prettier --write

fix(circle.ci): Switch tasks order. Bundlesize is called first now
  .circleci/config.yml
Due: none

refactor(vue): Add `getRules` to core package
  packages/core/getRules.js
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/Date.vue
  playgrounds/vue/src/Datetime.vue
  playgrounds/vue/src/Month.vue
  playgrounds/vue/src/Time.vue
  playgrounds/vue/src/Week.vue
Due: eslint --fix, prettier --write

Update & upgrade dev packages
  package.json
  yarn.lock
Due: prettier --write

feat(react): add `getRules` to integrate input types rules
  packages/core/getRules.js
  packages/react/useField.js
  playgrounds/react/src/MyAwesomeInput.jsx
  playgrounds/react/src/index.jsx
  playgrounds/react/src/inputs/InputColor.jsx
  playgrounds/react/src/inputs/InputDate.jsx
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputDate.vue
Due: eslint --fix, prettier --write

fix(vue): check lists now accept an object instead of an array
  packages/vue/FieldMixin.js
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputCheckboxList.vue
Due: eslint --fix, prettier --write

feat(react): Add integration with checkbox and checkbox lists
  packages/react/useField.js
  playgrounds/react/src/index.jsx
  playgrounds/react/src/inputs/InputCheckbox.jsx
  playgrounds/react/src/inputs/InputCheckboxList.jsx
Due: none

refactor(react): Improve how hooks are used
  packages/core/rules/required.js
  packages/react/useField.js
  packages/react/useForm.js
  playgrounds/react/src/MyAwesomeInput.jsx
  playgrounds/react/src/index.jsx
  playgrounds/react/src/inputs/InputCheckboxList.jsx
  playgrounds/react/src/inputs/InputText.jsx
Due: none

Make vue pkg follow the same process as the react pkg
  packages/vue/FieldMixin.js
  packages/vue/FormMixin.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputCheckbox.vue
  playgrounds/vue/src/InputCheckboxList.vue
  playgrounds/vue/src/InputColor.vue
  playgrounds/vue/src/InputDate.vue
  playgrounds/vue/src/InputNumberRange.vue
  playgrounds/vue/src/InputRadioList.vue
  playgrounds/vue/src/InputString.vue
  playgrounds/vue/src/RadioList.vue
Due: eslint --fix, prettier --write

feat: Update & upgrade deps
  package.json
  yarn.lock
Due: prettier --write

feat(react): Add integration with radio inputs
  babel.config.js
  packages/react/useField.js
  packages/react/useForm.js
  playgrounds/react/src/index.jsx
  playgrounds/react/src/inputs/InputCheckbox.jsx
  playgrounds/react/src/inputs/InputCheckboxList.jsx
  playgrounds/react/src/inputs/InputColor.jsx
  playgrounds/react/src/inputs/InputRadioList.jsx
  playgrounds/react/src/inputs/InputText.jsx
Due: none

feat: Increment from 1kb to 1.3kb the bundlesize limit
  package.json
  packages/react/useForm.js
Due: prettier --write

feat: Add webpack-production bundlesize
  .circleci/config.yml
  package.json
  webpack.config.js
  yarn.lock
Due: prettier --write

feat(core): Improve email type validation
  package.json
  packages/core/dictionaries/en/isAlphanumeric.js
  packages/core/dictionaries/en/pattern.js
  packages/core/getRules.js
  packages/core/rules/pattern.js
  playgrounds/react/src/index.jsx
  playgrounds/react/src/inputs/InputEmail.jsx
  playgrounds/react/src/inputs/InputNumber.jsx
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/dictionaries/es/pattern.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: Add webpack cache-loader
  .circleci/config.yml
  .eslintignore
  .gitignore
  .lintstagedrc.json
  .prettierignore
  package.json
  packages/core/rules/pattern.js
  playgrounds/react/webpack.config.js
  playgrounds/vanilla/webpack.config.js
  playgrounds/vue/webpack.config.js
  webpack.config.js
  yarn.lock
Due: prettier --write

feat(react): Reintroduce the use of React Context
  packages/core/rules/color.js
  packages/react/useField.js
  packages/react/useForm.js
  packages/vue/FormMixin.js
  playgrounds/react/src/index.jsx
  playgrounds/react/src/inputs/InputCheckbox.jsx
  playgrounds/react/src/inputs/InputCheckboxList.jsx
  playgrounds/react/src/inputs/InputColor.jsx
  playgrounds/react/src/inputs/InputDate.jsx
  playgrounds/react/src/inputs/InputEmail.jsx
  playgrounds/react/src/inputs/InputNumber.jsx
  playgrounds/react/src/inputs/InputRadioList.jsx
  playgrounds/react/src/inputs/InputText.jsx
  playgrounds/vue/src/App.vue
Due: eslint --fix, prettier --write

docs: Update docs to match react's and vue's new API
  docs/README.md
  docs/api/react/useField.md
  docs/api/react/useForm.md
  docs/api/vue/directive.md
  docs/api/vue/mixins.md
  docs/guides/rules.md
  package.json
  webpack.config.js
Due: prettier --write

refactor: Reduce bundle size
  packages/core/dictionary.js
  packages/core/rules.js
  playgrounds/vue/src/index.js
Due: none

feat(vanilla): Update package to update validate function's firm
  docs/README.md
  docs/api/vanilla/form.md
  docs/guides/rules.md
  package.json
  packages/vanilla/Validateme.js
  packages/vanilla/ValidatemeField.js
  packages/vanilla/index.js
  packages/vue/FormMixin.js
  webpack.config.js
  yarn.lock
Due: prettier --write

feat(vanilla): Update package to update validate function's firm (#17)
  docs/README.md
  docs/api/vanilla/form.md
  docs/guides/rules.md
  package.json
  packages/vanilla/Validateme.js
  packages/vanilla/ValidatemeField.js
  packages/vanilla/index.js
  packages/vue/FormMixin.js
  webpack.config.js
  yarn.lock
Due: prettier --write

feat(vue): Add integration with select and textarea inputs
  packages/vue/FieldMixin.js
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputCheckbox.vue
  playgrounds/vue/src/InputCheckboxList.vue
  playgrounds/vue/src/InputDate.vue
  playgrounds/vue/src/InputNumberRange.vue
  playgrounds/vue/src/InputRadioList.vue
  playgrounds/vue/src/InputSelect.vue
  playgrounds/vue/src/InputText.vue
  playgrounds/vue/src/InputTextarea.vue
Due: eslint --fix, prettier --write

feat(react): Add integration with select and textarea inputs
  playgrounds/react/src/index.jsx
  playgrounds/react/src/inputs/InputSelect.jsx
  playgrounds/react/src/inputs/InputTextarea.jsx
Due: none

Add select & textarea integration for react and vue (#18)
  packages/vue/FieldMixin.js
  packages/vue/directive.js
  playgrounds/react/src/index.jsx
  playgrounds/react/src/inputs/InputSelect.jsx
  playgrounds/react/src/inputs/InputTextarea.jsx
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputCheckbox.vue
  playgrounds/vue/src/InputCheckboxList.vue
  playgrounds/vue/src/InputDate.vue
  playgrounds/vue/src/InputNumberRange.vue
  playgrounds/vue/src/InputRadioList.vue
  playgrounds/vue/src/InputSelect.vue
  playgrounds/vue/src/InputText.vue
  playgrounds/vue/src/InputTextarea.vue
Due: eslint --fix, prettier --write

chore(release): ✨ publish
  packages/core/package.json
  packages/react/package.json
  packages/vanilla/package.json
  packages/vue/package.json
Due: prettier --write

config: Add configuration and deps for tests
  .circleci/config.yml
  .eslintignore
  .gitattributes
  .gitignore
  .prettierignore
  .vscode/launch.json
  babel.config.js
  jest.config.js
  package.json
  scripts/test.js
  webpack.config.js
  yarn.lock
Due: prettier --write

feat: Add first tests
  packages/core/__tests__/__snapshots__/rules.test.js.snap
  packages/core/__tests__/rules.test.js
  packages/core/dictionary.js
  packages/core/package.json
  packages/core/rules.js
  packages/react/package.json
  packages/vue/package.json
  playgrounds/react/package.json
  playgrounds/vanilla/package.json
  playgrounds/vue/package.json
Due: prettier --write

feat(core): Complete rules tests
  packages/core/__tests__/__snapshots__/rules.test.js.snap
  packages/core/__tests__/rules.test.js
  packages/core/dictionary.js
  packages/core/rules.js
Due: none

feat(core): Add dictionary tests
  packages/core/__tests__/__snapshots__/dictionary.test.js.snap
  packages/core/__tests__/__snapshots__/rules.test.js.snap
  packages/core/__tests__/dictionary.test.js
  packages/core/__tests__/rules.test.js
  packages/core/dictionary.js
Due: none

feat(core): Add tests for getRules
  packages/core/__tests__/__snapshots__/getRules.test.js.snap
  packages/core/__tests__/getRules.test.js
  packages/core/getRules.js
Due: none

feat: Add test task to CI and integration with codecov
  .circleci/config.yml
  .prettierignore
  package.json
  packages/core/__tests__/__snapshots__/dictionary.test.js.snap
  yarn.lock
Due: prettier --write

feat(react): Add useField tests. Fix bugs
  package.json
  packages/react/__tests__/__snapshots__/useField.test.jsx.snap
  packages/react/__tests__/useField.test.jsx
  packages/react/useField.js
  packages/react/useForm.js
  packages/vue/directive.js
  playgrounds/react/src/inputs/InputCheckboxList.jsx
  yarn.lock
Due: prettier --write

feat(react): Add useForm tests
  packages/react/.eslintrc.js
  packages/react/__tests__/__snapshots__/useForm.test.jsx.snap
  packages/react/__tests__/useForm.test.jsx
  packages/react/useForm.js
Due: none
