Repository lgraziani2712/validate-me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{jsx?,vue}": ["eslint --fix", "git add"],
  "*.{jsx?,vue,md,json}": ["prettier --write", "git add"]
}

💚 Add CircleCI config
  .circleci/config.yml
  package.json
Due: prettier --write

💚 Improve eslint allowed paths for CI
  .eslintignore
Due: none

💚 Add yarn cache folder into the CI cache
  .circleci/config.yml
Due: none

⬆ Update webpack
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

🐛 Fix vuepress config for netlify deploy
  deploy-docs.sh
  docs/.vuepress/config.js
Due: none

🐛 Restore deleted Tab component
  docs/.vuepress/components/Tab.vue
  docs/README.md
Due: eslint --fix, prettier --write

⬆ Fix prod build bug by improving splitting vendors code
  .vscode/launch.json
  docs/.vuepress/components/Tab.vue
  docs/.vuepress/components/Tabs.vue
  docs/.vuepress/config.js
  package.json
  playgrounds/web-vue/package.json
  yarn.lock
Due: eslint --fix, prettier --write

✅ Add Cypress tests
  cypress.json
  cypress/.eslintrc.js
  cypress/integration/client-side-validation.js
  docs/.vuepress/components/Tab.vue
  docs/.vuepress/components/Tabs.vue
  docs/.vuepress/config.js
  package.json
  playgrounds/web-vue/package.json
  playgrounds/web-vue/src/App.vue
  yarn.lock
Due: eslint --fix, prettier --write

✅ Add Cypress tests (#11)
  cypress.json
  cypress/.eslintrc.js
  cypress/integration/client-side-validation.js
  docs/.vuepress/components/Tab.vue
  docs/.vuepress/components/Tabs.vue
  docs/.vuepress/config.js
  package.json
  playgrounds/web-vue/package.json
  playgrounds/web-vue/src/App.vue
  yarn.lock
Due: eslint --fix, prettier --write

Remove web- prefix for every playground
  playgrounds/vanilla/dist/index.html
  playgrounds/vanilla/package.json
  playgrounds/vanilla/src/index.js
  playgrounds/vanilla/webpack.config.js
  playgrounds/vue/dist/index.html
  playgrounds/vue/package.json
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputString.vue
  playgrounds/vue/src/dictionaries/es/_extras.js
  playgrounds/vue/src/dictionaries/es/_unknownRule.js
  playgrounds/vue/src/dictionaries/es/len.js
  playgrounds/vue/src/dictionaries/es/required.js
  playgrounds/vue/src/index.js
  playgrounds/vue/webpack.config.js
  playgrounds/web-vue/package.json
Due: eslint --fix, prettier --write

Update deps pre-react pkg
  .browserslistrc
  .eslintrc.js
  babel.config.js
  docs/.vuepress/config.js
  package.json
  packages/apollo-error-parser/package.json
  packages/core/package.json
  packages/vanilla/package.json
  packages/vue/package.json
  yarn.lock
Due: prettier --write

Add first working version of the react pkg
  packages/core/Validateme.js
  packages/core/ValidatemeDictionary.js
  packages/core/ValidatemeField.js
  packages/core/ValidatemeRules.js
  packages/core/dictionaries/en/max.js
  packages/core/dictionaries/en/min.js
  packages/core/rules/contains.js
  packages/core/rules/isAlpha.js
  packages/core/rules/isAlphanumeric.js
  packages/core/rules/isUrl.js
  packages/core/rules/len.js
  packages/core/rules/max.js
  packages/core/rules/min.js
  packages/core/rules/notContains.js
  packages/core/rules/number.js
  packages/core/rules/required.js
  packages/react/.eslintrc.js
  packages/react/ValidatemeForm.jsx
  packages/react/package.json
  packages/react/useInput.jsx
  packages/vanilla/index.js
  playgrounds/react/dist/index.html
  playgrounds/react/package.json
  playgrounds/react/src/MyAwesomeInput.jsx
  playgrounds/react/src/index.jsx
  playgrounds/react/webpack.config.js
Due: prettier --write

Refactor core pkg
  .prettierignore
  .vscode/settings.json
  docs/.vuepress/config.js
  package.json
  packages/core/Validateme.js
  packages/core/ValidatemeDictionary.js
  packages/core/ValidatemeField.js
  packages/core/ValidatemeRules.js
  packages/react/useInput.jsx
  packages/vanilla/index.js
  packages/vue/directive.js
  playgrounds/vanilla/src/index.js
  playgrounds/vanilla/webpack.config.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputString.vue
  playgrounds/vue/src/index.js
  playgrounds/vue/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Refactor core, vanilla and vue packages and playgrounds
  .vscode/launch.json
  babel.config.js
  package.json
  packages/core/dictionary.js
  packages/core/rules.js
  packages/react/ValidatemeForm.jsx
  packages/react/useInput.jsx
  packages/vanilla/Validateme.js
  packages/vanilla/ValidatemeField.js
  packages/vue/FieldMixin.js
  packages/vue/FormMixin.js
  packages/vue/directive.js
  packages/vue/index.js
  packages/vue/mixin.js
  playgrounds/react/src/MyAwesomeInput.jsx
  playgrounds/react/src/index.jsx
  playgrounds/react/webpack.config.js
  playgrounds/vanilla/src/index.js
  playgrounds/vue/removeVueAttrPlugin.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputString.vue
  playgrounds/vue/src/index.js
  playgrounds/vue/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Add remaining functionalities to react pkg
  package.json
  packages/core/dictionary.js
  packages/react/ValidatemeForm.jsx
  packages/react/useInput.jsx
  packages/vanilla/Validateme.js
  packages/vanilla/ValidatemeField.js
  packages/vue/FieldMixin.js
  packages/vue/FormMixin.js
  playgrounds/react/src/MyAwesomeInput.jsx
  playgrounds/react/src/index.jsx
  yarn.lock
Due: prettier --write

Add bundlesize as ci task
  .circleci/config.yml
Due: none

Separate the bundlesize analysis between packages
  .circleci/config.yml
  package.json
  packages/apollo-error-parser/package.json
  packages/core/package.json
  packages/react/package.json
  packages/vanilla/package.json
  packages/vue/package.json
Due: prettier --write

Move bundlesize again to root packge
  .circleci/config.yml
  package.json
  packages/apollo-error-parser/package.json
  packages/core/package.json
  packages/react/package.json
  packages/vanilla/package.json
  packages/vue/package.json
Due: prettier --write

Refactor ValidateForm to useForm
  package.json
  packages/core/rules.js
  packages/react/ValidatemeForm.jsx
  packages/react/useForm.js
  packages/react/useInput.js
  packages/react/useInput.jsx
  packages/vanilla/Validateme.js
  packages/vue/FieldMixin.js
  packages/vue/FormMixin.js
  playgrounds/react/src/MyAwesomeInput.jsx
  playgrounds/react/src/index.jsx
Due: prettier --write

Update main page
  docs/.vuepress/components/Tabs.vue
  docs/README.md
  package.json
  playgrounds/react/src/index.jsx
  yarn.lock
Due: eslint --fix, prettier --write

Add model integration to vue plugin. Fix front-page docs
  docs/README.md
  packages/react/useForm.js
  packages/vue/FieldMixin.js
  packages/vue/FormMixin.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputString.vue
  playgrounds/vue/webpack.config.js
Due: eslint --fix, prettier --write

Update guides and vue docs
  docs/.vuepress/config.js
  docs/api/core/dictionary.md
  docs/api/core/rules.md
  docs/api/core/validateme-dictionary.md
  docs/api/core/validateme-rule.md
  docs/api/core/validateme-rules.md
  docs/api/vanilla/field.md
  docs/api/vanilla/form.md
  docs/api/vue/directive.md
  docs/api/vue/mixin.md
  docs/api/vue/mixins.md
  docs/api/vue/plugin.md
  docs/guides/rules.md
  packages/core/dictionary.js
  packages/core/rules.js
  packages/core/rules/len.js
  packages/core/rules/required.js
  packages/react/useInput.js
  packages/vanilla/ValidatemeField.js
  packages/vue/FieldMixin.js
  packages/vue/FormMixin.js
  playgrounds/vue/src/App.vue
Due: eslint --fix, prettier --write

Refactor common functionality and update docs accordingly
  docs/api/core/rules.md
  packages/core/rules.js
  packages/react/useInput.js
  packages/vanilla/ValidatemeField.js
  packages/vue/FieldMixin.js
Due: prettier --write

Update vanilla doc and Add react doc
  docs/.vuepress/config.js
  docs/README.md
  docs/api/react/useField.md
  docs/api/react/useForm.md
  docs/api/vanilla/field.md
  docs/api/vanilla/form.md
  docs/api/vue/directive.md
  docs/api/vue/mixins.md
  docs/api/vue/plugin.md
  docs/guides/README.md
  package.json
  packages/react/useField.js
  packages/vanilla/ValidatemeField.js
  playgrounds/react/src/MyAwesomeInput.jsx
  yarn.lock
Due: prettier --write

Update and add pkg lvl READMEs
  lerna.json
  package.json
  packages/apollo-error-parser/package.json
  packages/core/package.json
  packages/react/README.md
  packages/react/package.json
  packages/vanilla/package.json
  packages/vue/README.md
  packages/vue/package.json
  yarn.lock
Due: prettier --write

Remove unwanted script
  package.json
Due: prettier --write

✨ Publish v%v
  packages/apollo-error-parser/package.json
  packages/core/package.json
  packages/react/package.json
  packages/vanilla/package.json
  packages/vue/package.json
  playgrounds/react/package.json
  playgrounds/vanilla/package.json
  playgrounds/vue/package.json
Due: prettier --write

perf(core): Reduce dictionary requests by adding a "call caching"
  packages/core/dictionary.js
Due: none

perf(react): Remove multiple `useState` for one `useReducer`
  docs/README.md
  docs/api/react/useForm.md
  packages/react/useField.js
  packages/react/useForm.js
  playgrounds/react/src/index.jsx
Due: prettier --write

Improve react performance (#14)
  docs/README.md
  docs/api/react/useForm.md
  packages/core/dictionary.js
  packages/react/useField.js
  packages/react/useForm.js
  playgrounds/react/src/index.jsx
Due: prettier --write

docs: Update contributing information
  CONTRIBUTING.md
  lerna.json
Due: prettier --write

chore(release): ✨ publish
  packages/core/package.json
  packages/react/package.json
  packages/vanilla/package.json
  packages/vue/package.json
Due: prettier --write

feat(vue): Add integration with diverse input types
  docs/.vuepress/components/Tabs.vue
  packages/react/useField.js
  packages/vue/FieldMixin.js
  packages/vue/directive.js
  playgrounds/react/package.json
  playgrounds/vanilla/package.json
  playgrounds/vue/package.json
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputCheckbox.vue
  playgrounds/vue/src/InputNumber.vue
Due: eslint --fix, prettier --write

feat(core): Improve how dictionaries and rules are imported
  packages/core/dictionaries/en/_extras.js
  packages/core/dictionaries/en/_unknownRule.js
  packages/core/dictionaries/en/len.js
  packages/core/dictionaries/en/max.js
  packages/core/dictionaries/en/min.js
  packages/core/dictionaries/en/number.js
  packages/core/dictionaries/en/pattern.js
  packages/core/dictionary.js
  packages/core/rules.js
  packages/core/rules/pattern.js
Due: none

fix(react): Fix bug when running the form validation
  packages/react/useField.js
  packages/react/useForm.js
Due: none

feat(vue): Add email input integration
  packages/vue/FieldMixin.js
  packages/vue/FormMixin.js
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputCheckbox.vue
  playgrounds/vue/src/InputEmail.vue
  playgrounds/vue/src/dictionaries/es/_extras.js
  playgrounds/vue/src/dictionaries/es/_unknownRule.js
  playgrounds/vue/src/dictionaries/es/len.js
  playgrounds/vue/src/dictionaries/es/max.js
  playgrounds/vue/src/dictionaries/es/min.js
  playgrounds/vue/src/dictionaries/es/number.js
  playgrounds/vue/src/dictionaries/es/pattern.js
Due: eslint --fix, prettier --write

feat(vue): Allow checkbox lists
  packages/vue/FieldMixin.js
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/InputCheckboxList.vue
Due: eslint --fix, prettier --write

feat(vue): Add integration with radio inputs
  packages/vue/directive.js
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/RadioList.vue
Due: eslint --fix, prettier --write
